:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%); 
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-cyan);
    /* background-image: url(images/bg-pattern-top.svg);
    background-image: url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: left top; */
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1rem;
    overflow: hidden;
}

.content {
    background-color: white;
    text-align: center;
}

.content img {
    border-radius: 50%;
    border: .3rem solid #fff;
    margin-top: -50px;
}

.header-img {
    display: block;
}

span {
    color: var(--dark-grayish-blue);
    font-weight: 100;
}

h2 {
    color: var(--very-dark-desaturated-blue);
    font-family: 'Kumbh Sans', sans-serif;
}

p {
    color: var(--dark-grayish-blue);
    font-weight: 100;
}

.name-age {
    padding: 1rem 0 0;
}

.location {
    padding: 1rem 0 1.5rem;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2rem 1rem;
    border-top: .01rem solid var(--very-dark-desaturated-blue);
}